.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(187, 231, 181);
    height: 50px;
    width: 100vw;
}

.navbar-title {
    color: rgb(39, 39, 39);
    font-size: 36px;
}